<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="departmentController">
<head>
	<div th:replace="hol2/head :: metaLink"/>
	
	<title th:replace="hol2/head :: departmentOrder2" />
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<div th:replace="hol2/navbar :: departmentHead2"/>
	<nav th:replace="hol2/navbar :: topNavBar" />
	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav th:replace="hol2/head :: navPanelDepartment" />
			</div>
			<div role="complementary" class="col-md-9">
				<ol th:replace="hol2/navbar :: breadcrumb" />
				<div class="bs-docs-section"
					th:each="o2,o2row : ${department.orders2}"
					th:if="${o2.o2url == 'regal'}">
					<th:block th:if="${o2['orders3'] == null}">
						<h4>Полиця</h4>
						<div class="alert alert-info">
							<p>Місце для збору інформації корисної для роботи відділення.
							</p>
							<p>
								Передує в заповнені цього розділу сайту <b> <a
									href="{{devProdUrlPrefix}}v.ait/regal"> відділення реанімації.</a>
								</b>
							</p>
						</div>
					</th:block>
					<th:block th:if="${o2['orders3'] != null}">
						<th:block th:each="o3,o3row : ${o2.orders3}">
							<h1 th:id="${o3.o3url}" class="page-header" th:text="${o3.name}"></h1>
							<th:block th:if="${o3['orders4'] != null }">
								<div th:each="o4, o4row : ${o3.orders4}">
									<th:block th:if="${o3.o3url != 'decree' }">
										<div class="h4" th:id="${o3.o3url}+'-'+${o4.id}"
											th:text="${o4.name}"></div>
										<div th:text="${o4.annotation}"></div>
									</th:block>
									<th:block th:if="${o3.o3url == 'decree' }">
										<!-- 
										th:id="${o3.o3url}+'-'+${o4.decreeNr}+'-'+${o4.decreeDate}"></b>
								 -->
										<b th:text="'Наказ № '+${o4.decreeNr}"
											th:id="${o3.o3url}+'-'+${o4.decreeNr}"></b>
										<span th:text="'від '+${o4.decreeDate}"></span>
										<span class="h4" th:if="${o4['short']}" th:text="${o4.short}"></span> «<i
											th:text="${o4.name}"></i>» 
								</th:block>
									<th:block th:if="${o4['urlSource'] != null }">
										<span class="glyphicon glyphicon-link"></span>
										<span th:each="u,uRow : ${o4.urlSource}"> <a
											th:href="${u}" th:text="${u}"></a><span
											th:if="${uRow.count != uRow.size}">, </span>
										</span>
									</th:block>
									<hr />
								</div>
							</th:block>
						</th:block>
					</th:block>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="hol2/head :: pageFooter"/>
	<div th:replace="hol2/head :: docFooter"/>
	
	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js/scrollspy.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/holweb2secApp.directive.js"></script>
	<script src="/js/department.controller.js"></script>
	<!-- 
	 -->
</body>

</html>
