<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="departmentsController">
<head>
	<div th:replace="hol2/head :: metaLink"/>
</head>
<body>

	<div th:replace="hol2/navbar :: holHead" />
	<div th:replace="hol2/navbar :: homeNavBar" />
<!-- 
					class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well hol-margin"
 -->
	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav th:fragment="navPanelDepartment"
				class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top bs-callout bs-callout-success hol-margin"
					>
					<div class="h5">
						<a href="{{devProdUrlPrefix}}vid">Відділення</a>
					</div>
					<ul class="nav bs-docs-sidenav">
						<li><a href="#surgery"> Хіріргія </a>
							<ul class="nav">
								<li
									data-ng-repeat="v in vids.departments | filter:{type:'chirurgiae'} "
									data-ng-init="vidId = '#'+v.vUrl"><a href="{{vidId}}">
										{{v.name}} </a></li>
							</ul></li>
						<li><a href="#therapy"> Терапія </a>
							<ul class="nav">
								<li
									data-ng-repeat="v in vids.departments | filter:{type:'therapy'} "
									data-ng-init="vidId = '#'+v.vUrl"><a href="{{vidId}}">
										{{v.name}} </a></li>
							</ul></li>
						<li><a href="#obstetrics"> Акуше́рство </a>
							<ul class="nav">
								<li
									data-ng-repeat="v in vids.departments | filter:{type:'obstetrical-gynecological'} "
									data-ng-init="vidId = '#'+v.vUrl"><a href="{{vidId}}">
										{{v.name}} </a></li>
							</ul></li>
					</ul>
					<a th:replace="hol2/holhome :: gotoTop" />
				</nav>
			</div>
			<div role="complementary" class="col-md-9">
				<ol th:replace="hol2/navbar :: breadcrumb" />
				<h3 id="profile">Відділення</h3>
				<div class="row">
					<div class="col-md-6">
						<ul class="nav navbar-nav">
							<li><a href="policlinic"> Поліклініка </a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="nav navbar-nav">
							<li><a href="reception"> Приймальне відділення </a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="nav bs-docs-sidenav">
							<li class="h3">Діагностичні</li>
							<!-- 
							<li>Item 1</li>
							<li>Item 2</li>
							<li>Item 3</li>
							 -->
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="h3" id="surgery">Хірургічні</div>
						<ul class="nav bs-docs-sidenav">
							<li
								data-ng-repeat="v in vids.departments | filter:{type:'chirurgiae'} "
								id="{{v.vUrl}}"><a href="v.{{v.vUrl}}"> {{v.name}} </a>
								<div data-ng-repeat="s4 in v.model.docBlock[0].docBlock">
									<p data-ng-show="s4.p" data-ng-bind-html="s4.p"
										id="{{s4.pIdx}}"></p>
								</div>
								<hr /></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="h3" id="therapy">Терапевтичні</div>
						<ul class="nav bs-docs-sidenav">
							<li
								data-ng-repeat="v in vids.departments | filter:{type:'therapy'} "
								id="{{v.vUrl}}"><a href="v.{{v.vUrl}}"> {{v.name}} </a>
								<div data-ng-repeat="s4 in v.model.docBlock[0].docBlock">
									<p data-ng-show="s4.p" data-ng-bind-html="s4.p"
										id="{{s4.pIdx}}"></p>
								</div>
								<hr /></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="h3" id="obstetrics">Акушерсько-гінекологічні</div>
						<ul class="nav bs-docs-sidenav">
							<li
								data-ng-repeat="v in vids.departments | filter:{type:'obstetrical-gynecological'} "
								id="{{v.vUrl}}"><a href="v.{{v.vUrl}}"> {{v.name}} </a>
								<div data-ng-repeat="s4 in v.model.docBlock[0].docBlock">
									<p data-ng-show="s4.p" data-ng-bind-html="s4.p"
										id="{{s4.pIdx}}"></p>
								</div>
								<hr /></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<footer th:replace="hol2/head :: pageFooter" />

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/holweb2secApp.directive.js"></script>
	<script src="/js/moresmall.controller.js"></script>
	<script src="/js/scrollspy.js"></script>

</body>
</html>
