<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="departmentController">
<head>
	<div th:replace="hol2/head :: metaLink" />

	<title th:replace="hol2/head :: departmentOrder2" />
	
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<div th:replace="hol2/navbar :: departmentHead2"/>

	<nav th:replace="hol2/navbar :: topNavBarAjs"/>

	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav th:replace="hol2/head :: navPanelDepartment" />
			</div>
			<div class="col-md-9" role="main">
				<ol th:replace="hol2/navbar :: breadcrumbAjs" />
				<div class="row">
					<div class="col-xs-3">
						<a href="{{devProdUrlPrefix}}spk/{{department.dspl[0].personal_url}}"> <img
							class="img-circle"
							src="/img/spk/{{department.dspl[0].personal_url}}.jpg" />
							<div class="h4">{{department.dspl[0].personal_username}}</div>
							{{department.dspl[0].position_name}}
						</a>
					</div>
					<div class="col-xs-3" data-ng-show="department.dspl[1]">
						<a href="{{devProdUrlPrefix}}spk/{{department.dspl[1].personal_url}}"> <img
							class="img-circle"
							src="/img/spk/{{department.dspl[1].personal_url}}.jpg" />
							<div class="h4">{{department.dspl[1].personal_username}}</div>
							{{department.dspl[1].position_name}}
						</a>
					</div>
				</div>
				<div data-ng-repeat="personal1 in department.dpl "
					data-ng-init="personalIndex = $index; col = $index%4;
				personal2 = department.dpl[personalIndex +1];
				personal3 = department.dpl[personalIndex +2];
				personal4 = department.dpl[personalIndex +3];
				">
					<div class="row" data-ng-if="col == 0">
						<div class="col-xs-3">
							<a href="{{devProdUrlPrefix}}spk/{{personal1.personal_url}}"> <img
								class="img-circle" src="/img/spk/{{personal1.personal_url}}.jpg" />
								<div class="h4">{{personal1.personal_username}}</div>
							</a>
						</div>
						<div class="col-xs-3" data-ng-show="personal2">
							<a href="{{devProdUrlPrefix}}spk/{{personal2.personal_url}}"><img
								class="img-circle" src="/img/spk/{{personal2.personal_url}}.jpg" />
								<div class="h4">{{personal2.personal_username}}</div></a>
						</div>
						<div class="col-xs-3" data-ng-show="personal3">
							<a href="{{devProdUrlPrefix}}spk/{{personal3.personal_url}}"> <img
								class="img-circle" src="/img/spk/{{personal3.personal_url}}.jpg" />
								<div class="h4">{{personal3.personal_username}}</div></a>
						</div>
						<div class="col-xs-3" data-ng-show="personal4">
							<a href="{{devProdUrlPrefix}}spk/{{personal4.personal_url}}"> <img
								class="img-circle" src="/img/spk/{{personal4.personal_url}}.jpg" />
								<div class="h4">{{personal4.personal_username}}</div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="hol2/head :: pageFooter"/>
	<div th:replace="hol2/head :: docFooter"/>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/holweb2secApp.directive.js"></script>
	<script src="/js/department.controller.js"></script>
	<script src="/js/scrollspy.js"></script>
	
</body>

</html>
