<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="departmentController"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
	<div th:replace="hol2/head :: metaLink" />

	<title th:replace="hol2/head :: departmentOrder2" />
	
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<div th:replace="hol2/navbar :: departmentHead2"/>

	<nav th:replace="hol2/navbar :: topNavBarAjs"/>

	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav th:replace="hol2/head :: navPanelDepartment" />
			</div>
			<div class="col-md-9" role="main">
				<ol th:replace="hol2/navbar :: breadcrumbAjs" />
				<div class="row">
					<div class="col-xs-3" th:with="person = ${department.dspl[0]}">
						<div th:fragment="personLink">
							<a th:href="${devProdUrlPrefix}+'spk/'+${person.personal_url}">  <img
								th:if="${person['personal_foto'] != null} and ${person.personal_foto}"
								class="img-circle"
								th:src="'/img/spk/'+${person.personal_url}+'.jpg'" /> <img
								th:if="${person['personal_foto'] == null} or ${!person.personal_foto}"
								class="img-circle" th:src="'/img/spk/0foto.jpg'" />

								<div class="h4" th:text="${person.personal_username}"></div> <th:block
									th:text="${person.position_name}"></th:block>
							</a>
						</div>
					</div>
					<div class="col-xs-3" th:if="${department.dspl.size() gt 1}"
						th:with="person = ${department.dspl[1]}">
						<div th:replace="hol2/departmentPersonal :: personLink" />
					</div>
				</div>
				<th:block th:with="spkList = ${department.dpl}, showIn = 'dep'">
					<th:block th:fragment="spk4ColumnList"
						th:each="s2,s2row : ${spkList}"
						th:with="personalIndex = ${s2row.index}, col = ${s2row.index%4}">
						<th:block th:fragment="spk4ColumnListRow">
							<div class="row" th:if="${col == 0}">
								<div class="col-xs-3" th:with="person = ${s2}">
									<div th:replace="hol2/departmentPersonal :: personLink" />
								</div>
								<div class="col-xs-3"
									th:if="${spkList.size()} gt ${(personalIndex +1)}"
									th:with="person = ${spkList[personalIndex +1]}">
									<div th:replace="hol2/departmentPersonal :: personLink" />
								</div>
								<div class="col-xs-3"
									th:if="${spkList.size()} gt ${personalIndex +2}"
									th:with="person = ${spkList[personalIndex +2]}">
									<div th:replace="hol2/departmentPersonal :: personLink" />
								</div>
								<div class="col-xs-3"
									th:if="${spkList.size()} gt ${personalIndex +3}"
									th:with="person = ${spkList[personalIndex +3]}">
									<div th:replace="hol2/departmentPersonal :: personLink" />
								</div>
								<th:block th:if="${showIn == 'all'}">
								<div class="row"
									th:if="${col == 0} ? (${spkList.size()} gt ${personalIndex +4}?
						${spkList[personalIndex].p1 != spkList[personalIndex +4].p1} :false) : false">
									<div class="col-md-12">
										<div th:id="${spkList[personalIndex +4].p1}"
											th:text="${spkList[personalIndex +4].p1}"
											class="page-header"></div>
									</div>
								</div>
								</th:block>
							</div>
						</th:block>
					</th:block>
				</th:block>
			</div>
		</div>
	</div>

	<footer th:replace="hol2/head :: pageFooter"/>
	<div th:replace="hol2/head :: docFooter"/>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/holweb2secApp.directive.js"></script>
	<script src="/js/department.controller.js"></script>
	<script src="/js/scrollspy.js"></script>
	
</body>

</html>
