<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="departmentsController">
<head>
	<div th:replace="hol2/head :: metaLink"/>
</head>
<body>

	<div th:replace="hol2/navbar :: holHead" />
	<nav th:replace="hol2/navbar :: homeNavBar" />

	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">3</div>
			<div role="complementary" class="col-md-9">
				<ol th:replace="hol2/navbar :: breadcrumb" />
				<div class="row">
					<div class="col-md-6">
						<h3 id="profile">
							Відділення
							<!-- 
							<small>За профілем</small>
							 -->
						</h3>
					</div>
					<div class="col-md-3">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="policlinic"> Поліклініка </a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="nav navbar-nav">
							<li><a href="reception"> Приймальне відділення </a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-inline">
							<li class="h4">Діагностичні</li>
							<li>Item 1</li>
							<li>Item 2</li>
							<li>Item 3</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="nav navbar-nav">
							<li class="h4">Акушерсько-гінекологічні</li>
							<li
								data-ng-repeat="v in vids.departments | filter:{type:'obstetrical-gynecological'} "><a
								href="v.{{v.vUrl}}"> {{v.name}} </a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>Хірургічні</h4>
						<ul class="nav bs-docs-sidenav">
							<li
								data-ng-repeat="v in vids.departments | filter:{type:'chirurgiae'} "><a
								href="v.{{v.vUrl}}"> {{v.name}} </a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Терапевтичні</h4>
						<ul class="nav bs-docs-sidenav">
							<li
								data-ng-repeat="v in vids.departments | filter:{type:'therapy'} "><a
								href="v.{{v.vUrl}}"> {{v.name}} </a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="hol2/head :: pageFooter" />

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/holweb2secApp.directive.js"></script>
	<script src="/js/moresmall.controller.js"></script>
	<script src="/js/scrollspy.js"></script>

</body>
</html>
