<!DOCTYPE html>
<html>
<head>

<div th:fragment="metaLink" th:remove="tag">
	<meta charset="utf-8"/>
	<link href="/css-vendor/bootstrap.css" rel="stylesheet" />
	<link href="/css/scrollspy.css" rel="stylesheet" />
	<link href="/css/holweb2.css" rel="stylesheet" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</div>

<title th:fragment="departmentOrder2">ХОЛ / <th:block
		th:text="''+${department.name}+' / '" /> <th:block
		th:each="o2 : ${department.orders2}">
		<th:block th:if="${orders2 == o2.o2url}" th:text="${o2.name}"></th:block>
	</th:block>
</title>

</head>
<body>
<!-- 
 -->
	<nav th:fragment="navPanelDepartment"
		class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well hol-margin"
		>
		<div class="h5">
			<a href="" th:href="'{{devProdUrlPrefix}}v.'+${departmentName}"
				th:text="${department.name}"></a>
			<th:block th:each="o2 : ${department.orders2}">
				<small th:if="${orders2 == o2.o2url}" th:text="${o2.name}"></small>
			</th:block>
		</div>
		<ul class="nav bs-docs-sidenav">
			<th:block th:if="${orders2 == 'regal'}">
				<th:block th:each="o2 : ${department.orders2}"
					th:if="${'regal' == o2.o2url} ? ${o2['orders3'] != null} : false">
					<li 
					th:each="o3 : ${o2.orders3}"><a
						th:href="'#'+${o3.o3url}" th:text="${o3.name}"></a>
						
						<ul class="nav" th:if="${o3['orders4'] != null}">
							<th:block th:if="${o3.o3url != 'decree' }">
								<li th:each="o4 : ${o3.orders4}"><a
									th:href="'#'+${o3.o3url}+'-'+${o4.id}" th:text="${o4.short}"></a></li>
							</th:block>
							<th:block th:if="${o3.o3url == 'decree' }">
								<li th:each="o4 : ${o3.orders4}"><a
									th:href="'#'+${o3.o3url}+'-'+${o4.decreeNr}"
									th:text="'№ '+${o4.decreeNr}+' - '+${o4.decreeDate}"></a></li>
							</th:block>
						</ul></li>
				</th:block>
			</th:block>
			<!-- Головна -->
			<th:block th:if="${orders2 == null}" th:with="s1 = ${department}">
				<li th:fragment="docBlockNavIndex"
					th:each="s2,s2row : ${s1.docBlock}" th:if="${s2['h2']}"><a
					th:href="'#'+${s2.sectionIdx}" th:text="${s2.h2}"></a>
					<ul class="nav" th:if="${s2['docBlock'] != null}">
						<li th:each="s3,s3row : ${s2.docBlock}" th:if="${s3['h3']}"><a
							th:href="'#section-'+${s2row.index}+'-'+${s3row.index}"
							th:text="${s3.h3}"></a></li>
					</ul></li>
			</th:block>
			<th:block th:if="${orders2 == 'regal'}">
			</th:block>
			<li th:each="o2,o2row : ${department.orders2}"><a
				th:href="'{{devProdUrlPrefix}}v.'+${departmentName}+'/'+${o2.o2url}"
				th:class="${o2['state'] != null} ? o2.state"> <span
					th:if="${o2.name == 'Головна'}" class="glyphicon glyphicon-leaf"></span>
					<span th:text="${o2.name}"></span>
			</a></li>
		</ul>
		<a class="back-to-top" href="#top"> Догори <span
			class="glyphicon glyphicon-chevron-up"></span>
		</a>
	</nav>

	<div class="row" th:fragment="showPersonal">
		<div role="complementary" class="col-md-3">
			<img class="img-thumbnail pull-right"
				src="/img/spk/{{spkPersonal.personal_url}}.jpg" />
		</div>
		<div role="main" class="col-md-9">
			<ol th:replace="hol2/navbar :: breadcrumbSpk" />
			<h2>{{spkPersonal.personal_surname}}
				{{spkPersonal.personal_name}} {{spkPersonal.personal_patronymic}}</h2>
			<div>
				Відділення <a
					href="{{devProdUrlPrefix}}v.{{personalList.departmentsUrl[spkPersonal.department_name]}}">
					{{spkPersonal.department_name}} </a>
			</div>
			<div>{{spkPersonal.position_name}}</div>
			<div data-ng-if="spkPersonal.titles">
				-
				<div data-ng-repeat="title in spkPersonal.titles">
					{{title}}<span data-ng-if="!$last">, </span>
				</div>
			</div>
		</div>
	</div>

	<footer th:fragment="pageFooter" role="contentinfo"
		class="bs-footer hidden-print">
		<div class="container" style="background-color: #f5f5f5;">
			<div class="row">
				<div class="col-md-10">
					<h5>Карта сайта</h5>
				</div>
				<div class="col-md-2">Контакт</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="navbar-right">
						<small class="font050"> Редакція сайту: <a
							href="mailto:roman.mishchenko@gmail.com?Subject={{devProdUrlPrefix}} :  Побажання до зміни сторінки"
							target="_top"> roman.mishchenko@gmail.com </a> Ваші відгуки та
							побажання будуть враховані.
						</small>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div th:fragment="docFooter" th:remove="tag">
		<input type="hidden" th:value="${departmentName}" id="departmentName" />
		<input type="hidden" th:value="${orders2}" id="orders2" />
		<input type="hidden" th:value="${seek}" id="seekParam" />
		<input type="hidden" th:value="${personalUrl}" id="personalUrl" />
	</div>

	<th:block th:fragment="pageFooterScript">
		<script src="/js-vendor/jquery-2.1.1.min.js"></script>
		<script src="/js-vendor/bootstrap.min.js"></script>
		<script src="/js/scrollspy.js"></script>
		<script src="/js-vendor/angular.min.js"></script>
		<script src="/js-vendor/angular-sanitize.min.js"></script>
		<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
		<script src='/js-vendor/textAngular-sanitize.min.js'></script>
		<script src='/js-vendor/textAngular.min.js'></script>
		<script src="/js/holweb2secApp.directive.js"></script>
		<script src="/js/moresmall.controller.js"></script>
	</th:block>

</body>
</html>