<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="historyHolController">
<head>
<div th:replace="hol2/head :: metaLink" />
	<title>ХОЛ / Історія нашої лікарні</title>
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<nav th:replace="hol2/navbar :: homeNavBar" />

	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav
					class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well">
					<div class="h5">
						<a href="{{devProdUrlPrefix}}about">Про лікарню</a>
					</div>
					<ul class="nav bs-docs-sidenav" th:fragment="aboutNavBar">
						<li><a href="{{devProdUrlPrefix}}phone"> <span>Т----к</span>
						</a></li>
					</ul>
					<ul th:replace="hol2/about :: aboutNavBar" />
				</nav>
			</div>
			<div role="main" class="col-md-9">
				<ol th:replace="hol2/about :: breadcrumbAbout" />
				<div class="bs-docs-section"
					th:each="s2 : ${generalInfo.history.docBlock}">
					<h1 th:id="${s2.sectionIdx}" class="page-header" th:text="${s2.h2}"></h1>
					<th:block th:replace="hol2/department :: subDocBlock2" />
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:replace="hol2/head :: pageFooterScript" />

</body>
</html>