<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="newsHolController">
<head>
<div th:replace="hol2/head :: metaLink" />
	<title>ХОЛ / Історія лікарню</title>
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<nav th:replace="hol2/navbar :: homeNavBar" />

	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav
					class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well">
					<div class="h5">
						<a href="{{devProdUrlPrefix}}about">Про лікарню</a>
					</div>
					<ul class="nav bs-docs-sidenav" th:fragment="aboutNavBar">
						<li><a href="{{devProdUrlPrefix}}phone"> <span>Т----к</span>
						</a></li>
					</ul>
					<ul th:replace="hol2/about :: aboutNavBar" />
				</nav>
			</div>
			<div role="main" class="col-md-9">
				<ol th:replace="hol2/about :: breadcrumbAbout" />
				<h2>Новини</h2>
				<div th:each="note : ${generalInfo.news.news}">
					<hr />
					<div class="row">
						<div class="col-md-8">
							<div class="hol-news-head">
								<span class="hol-news-calendar"> <span
									class="glyphicon glyphicon-calendar"></span> <span
									th:text="${note.timesTheNews}"></span>
								</span> <span class="hol-news-comment"><span
									class="glyphicon glyphicon-comment"></span> Коментарі</span> <span
									class="hol-news-author"> <span
									class="glyphicon glyphicon-user"></span> Редакція
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p th:utext="${note.textHtml}"></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<th:block th:replace="hol2/head :: pageFooterScript" />

</body>
</html>