<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="personalController"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
<div th:replace="hol2/head :: metaLink" />

<title>ХОЛ / Співпрацівники</title>
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<div th:replace="hol2/navbar :: homeNavBar"/>

<div class="container">
	<div class="row">
		<div role="complementary" class="col-md-3"></div>
		<div role="complementary" class="col-md-9">
			<ol th:replace="hol2/navbar :: breadcrumbSpk"/>
			<h1>Співпрацівники</h1>
				<th:block th:each="p1,p1row : ${personalList.p1s}" >
					<a th:class="${parameterMap['abc'] != null} ? (${p1 == parameterMap.abc[0]} ? 'bold') "
						th:href="'?abc='+${p1}" th:text="${p1}"> </a>
					<span th:if="${personalList.p1s.size()} gt ${p1row.index + 1}"> | </span>
				</th:block>
				<span> - <a href="spivrobitnik">Всі</a>
				</span>

				<th:block th:if="${parameterMap['abc'] != null}"
					th:each="s2,s2row : ${personalList.pl}"
					th:with="personalIndex = ${s2row.index}
					, col = ${s2row.index%4}, spkList = ${personalList.pl}
					, showIn = 'abc'
					">
					<th:block th:if="${s2.p1 == parameterMap.abc[0]}">
						<th:block
							th:replace="hol2/departmentPersonal :: spk4ColumnListRow" />
					</th:block>
				</th:block>
				<th:block th:if="${parameterMap['abc'] == null}"
				th:with="spkList = ${personalList.pl}, showIn = 'all'">
					<th:block th:replace="hol2/departmentPersonal :: spk4ColumnList" />
				</th:block>

				<!-- 
			<div data-ng-repeat="personal1 in personalList.pl"
				data-ng-init="personalIndex = $index; col = $index%4;
				personal2 = personalList.pl[personalIndex +1];
				personal3 = personalList.pl[personalIndex +2];
				personal4 = personalList.pl[personalIndex +3];
				">
					<div class="row" data-ng-if="col == 0">
						<div class="col-xs-3">
							<a href="{{devProdUrlPrefix}}spk/{{personal1.personal_url}}"> <img
								class="img-circle" src="/img/spk/{{personal1.personal_url}}.jpg" />
								<div class="h4">{{personal1.personal_username}}</div>
							</a>
						</div>
						<div class="col-xs-3" data-ng-show="personal2">
							<a href="{{devProdUrlPrefix}}spk/{{personal2.personal_url}}"> <img
								class="img-circle" src="/img/spk/{{personal2.personal_url}}.jpg" />
								<div class="h4">{{personal2.personal_username}}</div>
							</a>
						</div>
						<div class="col-xs-3" data-ng-show="personal3">
							<a href="{{devProdUrlPrefix}}spk/{{personal3.personal_url}}"> <img
								class="img-circle" src="/img/spk/{{personal3.personal_url}}.jpg" />
								<div class="h4">{{personal3.personal_username}}</div>
							</a>
						</div>
						<div class="col-xs-3" data-ng-show="personal4">
							<a href="{{devProdUrlPrefix}}spk/{{personal4.personal_url}}"> <img
								class="img-circle" src="/img/spk/{{personal4.personal_url}}.jpg" />
								<div class="h4">{{personal4.personal_username}}</div>
							</a>
						</div>
					</div>
					<div class="row" 
					data-ng-if="(col == 0 ? personal1.p1 != personalList.pl[personalIndex + 4].p1 : false)">
					<div class="col-md-12">
						<div id="i_{{personalList.pl[personalIndex + 4].p1}}" class="page-header">{{personalList.pl[personalIndex + 4].p1}}</div>
					</div>
				</div>
			</div>
 -->
		</div>
	</div>
</div>


	<div th:replace="hol2/head :: docFooter"/>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/scrollspy.js"></script>
	<script src="/js/holweb2secApp.directive.js"></script>
	<script src="/js/moresmall.controller.js"></script>

</body>
</html>
