<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="personalController">
<head>
<div th:replace="hol2/head :: metaLink" />

<title>ХОЛ / {{spkPersonal.personal_username}}</title>
</head>
<body>

	<div th:replace="hol2/navbar :: holHead" />

	<nav th:replace="hol2/navbar :: topNavBar" />

	<div class="container">
		<div th:replace="hol2/head :: showPersonal" />
	</div>


	<footer th:replace="hol2/head :: pageFooter"/>
	<div th:replace="hol2/head :: docFooter"/>
	<th:block th:replace="hol2/head :: pageFooterScript" />
	
</body>
</html>