<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="telefonHolController"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
<div th:replace="hol2/head :: metaLink" />
	<title>ХОЛ / Телефоний довідник</title>
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<nav th:replace="hol2/navbar :: homeNavBar" />

	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav th:replace="hol2/about :: aboutNavBarContainer" />
			</div>
			<div role="main" class="col-md-9">
				<ol th:replace="hol2/about :: breadcrumbAbout" />
				<h2>Телефоний довідник</h2>
				<!-- 
		<div class="row">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
			</div>
		</div>
				 -->
				<table class="table2 telefon-table">
					<col width="50%" />
					<col width="50%" />
					<tr>
						<td>
							<table class="table2" border="1">
								<th:block
									th:each="buildingKey : ${generalInfo.telefon.tables[0]}"
									th:with="building = ${generalInfo.telefon[''+buildingKey]}">
									<th:block th:replace="hol2/telefon :: buildingTelefonListe" />
								</th:block>
							</table>
						</td>
						<td>
							<table class="table2" border="1">
								<th:block
									th:each="buildingKey : ${generalInfo.telefon.tables[1]}"
									th:with="building = ${generalInfo.telefon[''+buildingKey]}">
									<th:block th:replace="hol2/telefon :: buildingTelefonListe" />
								</th:block>
							</table>
						</td>
					</tr>
				</table>
				<table class="table">
					<th:block th:each="building : ${generalInfo.telefon.buildings}" >
						<th:block th:fragment="buildingTelefonListe"
							th:if="${building['telefonListe']}">
							<tr class="telefon-building">
								<th colspan="3" th:text="${building.building}"></th>
							</tr>
							<th:block th:each="telefon : ${building.telefonListe}">
								<tr 
								class="telefon-position"
								th:if="${telefon['position']}">
									<td th:text="${telefon.position}"></td>
									<td th:fragment="telefonInner" 
									><th:block th:if="${telefon['telefonInner'] !=null}"
											th:text="${telefon.telefonInner}"></th:block></td>
									<td th:fragment="telefonOuter" 
									><th:block th:if="${telefon['telefonStationary']}"
											th:text="${telefon.telefonStationary}">
										</th:block>
										<th:block th:if="${telefon['telefonMobil2']}"
											th:text="${telefon.telefonMobil}">
										</th:block></td>
								</tr>
								<th:block th:if="${telefon['personal']}"
									th:with="person = ${telefon.personal}">
									<tr th:replace="hol2/telefon :: telefonPerson" />
								</th:block>
								<th:block th:if="${telefon['personals']}">
									<th:block th:each="person : ${telefon.personals}">
										<th:block th:fragment="telefonPerson">
											<tr th:with="telefon = ${person}">
												<td class="telefon-owner"><th:block
														th:if="${person['position']}" th:text="${person.position}"></th:block>
													<th:block th:if="${person['name']}"
														th:text="${person.name}"></th:block></td>
												<td th:replace="hol2/telefon :: telefonInner" />
												<td th:replace="hol2/telefon :: telefonOuter" />
											</tr>
										</th:block>
									</th:block>
								</th:block>
							</th:block>
						</th:block>
					</th:block>
				</table>
			</div>
		</div>
	</div>
	
	<th:block th:replace="hol2/head :: pageFooterScript" />

</body>
</html>
