<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="telefonHolController">
<head>
<div th:replace="hol2/head :: metaLink" />
	<title>ХОЛ / Телефоний довідник</title>
</head>
<body>
	<div th:replace="hol2/navbar :: holHead" />
	<nav th:replace="hol2/navbar :: homeNavBar" />

	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav
					class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well">
					<div class="h5">
						<a href="{{devProdUrlPrefix}}about">Про лікарню</a>
						ff
					</div>
					<ul class="nav bs-docs-sidenav" th:fragment="aboutNavBar">
						<li><a href="{{devProdUrlPrefix}}phone"> <span>Т----к</span>
						</a></li>
					</ul>
					<ul th:replace="hol2/about :: aboutNavBar" />
				</nav>
			</div>
			<div role="complementary" class="col-md-9">
				<ol th:replace="hol2/about :: breadcrumbAbout" />
				<h2>Телефоний довідник</h2>
				<table class="table">
					<th:block th:each="building : ${generalInfo.telefon.buildings}">
						<tr>
							<th colspan="3" th:text="${building.building}"></th>
						</tr>
						<th:block th:if="${building['telefonListe']}">
							<th:block th:each="telefon : ${building.telefonListe}">
								<tr>
									<td th:text="${telefon.position}"></td>
									<td th:text="${telefon.telefonInner}"></td>
									<td th:if="${telefon['telefonStationary']}"
										th:text="${telefon.telefonStationary}"></td>
									<td></td>
								</tr>
							</th:block>
						</th:block>
					</th:block>
				</table>
			</div>
		</div>
	</div>
	
	<th:block th:replace="hol2/head :: pageFooterScript" />

</body>
</html>