<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="departmentController">
<head>
	<div th:replace="head :: metaLink"/>
	
	<title th:text="'ХОЛ / Відділення / '+${department.name}"></title>
</head>
<body>

	<div class="bs-docs-header head-img head-img-vid">
		<div class="container">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<small class="font050"> Відділення Хмельницької обласної
					лікарні: </small>
				<div class="h1" th:text="${department.name}"></div>
			</div>
		</div>
	</div>

	<nav th:replace="navbar :: topNavBar"/>
	<ol th:replace="navbar :: breadcrumb"/>


	<div class="container bs-docs-container" id="ctx">
		<div class="row" data-ng-show="error.error">
			<div class="col-md-12" role="main">
				<div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign"
						aria-hidden="true"></span> <span class="sr-only">Error:</span> <span>
						Відділення з вказаною адресою - "<b th:text="${departmentName}"></b>"
						- не існує на сайті лікарні.
					</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav
					class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well"
					style="">
					<div class="h5" th:text="${department.name}"></div>
					<ul class="nav bs-docs-sidenav">
						<li th:each="s2,s2row : ${department.docBlock}"
							th:if="${s2['h2']}"><a th:href="'#section-'+${s2row.index}"
							th:text="${s2.h2}"></a>
							<ul class="nav" th:if="${s2['docBlock'] != null}">
								<li th:each="s3,s3row : ${s2.docBlock}" th:if="${s3['h3']}"><a
									th:href="'#section-'+${s2row.index}+'-'+${s3row.index}"
									th:text="${s3.h3}"></a></li>
							</ul></li>
					</ul>
					<a class="back-to-top" href="#top"> Догори <span
						class="glyphicon glyphicon-chevron-up"></span>
					</a>
				</nav>
			</div>
			<div class="col-md-9" role="main">
				<div class="bs-docs-section"
					th:each="s2,s2row : ${department.docBlock}"
				>
					<h1 th:id="'section-'+${s2row.index}" class="page-header" th:text="${s2.h2}"></h1>
					<img th:if="${s2['img'] != null}"
							class="img-thumbnail" align="right" th:src="${s2.img}" 
							th:width="${s2['imgWidth'] != null} ? ${s2.imgWidth}"
							/>
					<th:block th:if="${s2['shef'] != null}">
						<i th:text="${s2.shef}"></i>
						<div th:if="${s2['telefon'] != null}" th:text="${'тел. '+s2.telefon}"></div>
						<div th:if="${s2['fax'] != null}" th:text="${'fax: '+s2.fax}"></div>
						<th:block th:if="${s2['email'] != null}">
						email: <span th:each="email,emailRow : ${s2.email}"> <a
								target="_top"
								th:href="'mailto:'+${email}+'?Subject=http://hol.in.ua/'+${departmentName}"
								th:text="${email}"></a><span
								th:if="${emailRow.count != emailRow.size}">, </span>
							</span>
						</th:block>
						<div th:if="${s2['titles'] != null}">
						- <span th:each="title,titleRow : ${s2.titles}" th:text="${title}"><span
								th:if="${titleRow.count != titleRow.size}">, </span> </span>
						</div>
					</th:block>
					<th:block th:if="${s2['docBlock'] != null}" 
					th:each="s3,s3row : ${s2['docBlock']}">
						<h3 th:id="'section-'+${s2row.index}+'-'+${s3row.index}"
						th:if="${s3['h3'] != null}"
						 th:text="${s3.h3}"></h3>
						<p th:if="${s3['p'] != null}" th:utext="${s3.p}"
						th:id="'p-'+${s2row.index}+'-'+${s3row.index}"
						></p>
						<th:block th:if="${s3['docBlock'] != null}"
							th:each="s4,s4row : ${s3['docBlock']}">
							<p th:if="${s4['p'] != null}" th:utext="${s4.p}"
							th:id="'p-'+${s2row.index}+'-'+${s3row.index}+'-'+${s4row.index}"
							></p>
						</th:block>
					</th:block>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="head :: docFooter"/>

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/department.controller.js"></script>
	<script src="/js/scrollspy.js"></script>

</body>
</html>
