<!DOCTYPE html>
<html>
<head>
	<div th:fragment="metaLink" th:remove="tag">
		<meta charset="utf-8"/>
		<link href="/css-vendor/bootstrap.css" rel="stylesheet" />
		<link href="/css/scrollspy.css" rel="stylesheet" />
		<link href="/css/holweb2.css" rel="stylesheet" />
	</div>
</head>
<body>

	<div th:fragment="docFooter" th:remove="tag">
		<input type="hidden" th:value="${departmentName}" id="departmentName" />
		<input type="hidden" th:value="${orders2}" id="orders2" />
		<input type="hidden" th:value="${seek}" id="seekParam" />
	</div>
</body>
</html>