<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="holHomeController">
<head>
<div th:replace="head :: metaLink" />
<link href="/css/holhome.css" rel="stylesheet" />
<link href="/css/cyborg.css" rel="stylesheet" />
<title>Хмельницька обласна лікарня</title>
</head>
<body>
	<div th:replace="navbar :: holHead" />
	<nav th:replace="navbar :: homeNavBar" />
	<div class="container">
		<div class="row">
			<div role="complementary" class="col-md-3">
				<nav
					class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well">
					<div class="h5">
						<a href="."> Хмельницька обласна лікарня </a>
					</div>
					<ul class="nav bs-docs-sidenav">
						<li><a href="#about">Про нас</a></li>
						<li><a href="#patient">Для Пацієнтів, відвідувачів та
								гостей</a></li>
						<li><a href="#admin">Керівництво</a></li>
						<li><a href="#vid">Впровадження і досвід</a></li>
						<li><a href="#fach">Фахівці</a></li>
					</ul>
					<a class="back-to-top" href="#top"> Догори <span
						class="glyphicon glyphicon-chevron-up"></span>
					</a>
				</nav>
			</div>
			<div role="main" class="col-md-9">
				<div class="cd-fixed-bg cd-bg-1" id="about">
					<h2>Хмельницька обласна лікарня</h2>
				</div>
				<div class="cd-scrolling-bg cd-color-1">
					<div class="cd-container">
						<div class="t151">
							<div class="wrapper">
								<hr style="max-width: 780px" />
							</div>
							<div class="centeredSection">
								<div field="title" class="text">«</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">Сьогодні обласна лікарня – це
								сучасний медичний і науковий заклад. На її базі працює 23
								відділення стаціонару на 835 ліжок, консультативна поліклініка
								на 250 відвідувань в зміну, 15 діагностичних,
								лікувально-допоміжних та обслуговуючих служб.</div>
							<div class="col-md-7">Новини</div>
						</div>
						<div class="t151">
							<div class="wrapper">
								<hr style="max-width: 780px" />
							</div>
							<div class="centeredSection">
								<div field="title" class="text">»</div>
							</div>
						</div>
						<div class="lr_col_10 prefix_1" style="text-align: center;">
							<h1 field="title">
								<span style="font-weight: 400;">Цифри та факти</span>
							</h1>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="t073">
									<span field="number" class="circle">1</span>
									<h6 field="title">
										<span style="font-weight: 400;">Створення</span>
									</h6>
									<p field="descr">
										<span style="font-weight: 300;">З жовтня 1948 року на
											виконання наказів МОЗ СРСР № 431 та МОЗ УРСР № 413 відбулося
											об'єднання 1-ої Радянської обласної лікарні з Проскурівською
											міською поліклінікою, тобто офіційно була створена обласна
											лікарня.</span>
									</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="t073">
									<span field="number" class="circle">2</span>
									<h6 field="title">
										<span style="font-weight: 400;">Потужності в рік</span>
									</h6>
									<p field="descr">
										<span style="font-weight: 300;">Щороку в лікарні
											проходять лікування близько 25 тисяч хворих ( за 2010 рік –
											26728 хворих), при цьому питома вага жителів районів області
											складає понад 45 відсотків.</span>
									</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="t073">
									<span field="number" class="circle">3</span>
									<h6 field="title">
										<span style="font-weight: 400;">Хірургічна діяльність</span>
									</h6>
									<p field="descr">
										<span style="font-weight: 300;">За 2010 рік виконано
											12643 операцій. Середнє перебування хворих на ліжку у 2010
											році - 10,3. </span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cd-fixed-bg cd-bg-2" id="patient">
					<h2>Для Пацієнтів, відвідувачів та гостей</h2>
				</div>
				<div class="cd-scrolling-bg cd-color-1">
					<div class="cd-container">
						<div class="lr_col_10 prefix_1" style="text-align: center;">
							<h1 field="title">
								<span style="font-weight: 400;">Виберіть розділ який ви
									шукаєте</span>
							</h1>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="t073">
									<span field="number" class="circle">1</span>
									<h6 field="title">
										<span style="font-weight: 400;">Як доїхати</span>
									</h6>
									<p field="descr">
										<span style="font-weight: 300;">Маршрутки 29, 49 ...</span>
									<div>Детальніше</div>
									</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="t073">
									<span field="number" class="circle">2</span>
									<h6 field="title">
										<span style="font-weight: 400;">Спеціалісти та служби</span>
									</h6>
									<p field="descr">
										<span style="font-weight: 300;"> В поліклініці лікарні
											кваліфіковані фахівці ведуть години прийому. </span>
									<div>Приймальне відділення - Корпус номер 7</div>
									</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="t073">
									<span field="number" class="circle">3</span>
									<h6 field="title">
										<span style="font-weight: 400;">План лікарні</span>
									</h6>
									<p field="descr">
										<span style="font-weight: 300;">На теріторії лікарні
											розташовано сім корпусів</span>
									</p>
								</div>
							</div>
						</div>
						<div class="t151">
							<div class="wrapper">
								<hr style="max-width: 780px" />
							</div>
							<div class="centeredSection">
								<div field="title" class="text">»</div>
							</div>
						</div>
						<h1 field="title">
							<span style="font-weight: 400;">Детальніше про лікарню</span>
						</h1>
					</div>
				</div>
				<div class="cd-fixed-bg cd-bg-3" id="admin">
					<h2>Керівництво</h2>
				</div>
				<div class="cd-scrolling-bg cd-color-1">
					<div class="cd-container">
						<div class="row">
							<div class="col-md-6">
								На теперішній час Хмельницьку обласну лікарню очолює Флаксемберг
								Аркадій Семенович, організатор охорони здоров’я вищої
								кваліфікаційної категорії, лікар-хірург вищої кваліфікаційної
								категорії, Заслужений лікар України.
								<div>Детальніше...</div>
							</div>
							<div class="col-md-6">
								<img class="img-thumbnail pull-right"
									src="/img/general/gollikar-1.jpeg" />
							</div>
						</div>
						<div class="t151">
							<div class="wrapper">
								<hr style="max-width: 780px" />
							</div>
							<div class="centeredSection">
								<div field="title" class="text">»</div>
							</div>
						</div>

					</div>
				</div>
				<div class="cd-fixed-bg cd-bg-4" id="vid">
					<h2>Впровадження і досвід</h2>
				</div>
				<div class="cd-scrolling-bg cd-color-1">
					<div class="cd-container">
						<div class="t151">
							<div class="wrapper">
								<hr style="max-width: 780px" />
							</div>
							<div class="centeredSection">
								<div field="title" class="text">«</div>
							</div>
						</div>
						Серед новинок в наданні медичної допомоги населенню, є ряд
						оптимальних і якісних технологій:
						<div>Відділеня лікарні</div>
						<div class="t151">
							<div class="wrapper">
								<hr style="max-width: 780px" />
							</div>
							<div class="centeredSection">
								<div field="title" class="text">»</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<!-- Wrapper for slides -->
									<div class="carousel-inner item-lr-more" role="listbox">
										<div data-ng-repeat="x in hpVids"
											class="item {{x.carouselActive}}">
											<h4>{{x.name}}</h4>
										</div>
									</div>
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-ng-repeat="x in hpVids" data-target="#myCarousel"
											data-slide-to="{{$index}}" class="{{x.carouselActive}}">
										</li>
									</ol>

									<!-- Left and right controls -->
									<a class="left carousel-control" href="#myCarousel"
										role="button" data-slide="prev"> <span
										class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a> <a class="right carousel-control" href="#myCarousel"
										role="button" data-slide="next"> <span
										class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="cd-fixed-bg cd-bg-5" id="fach">
					<h2>Фахівці</h2>
				</div>
				<div class="cd-scrolling-bg cd-color-1">
					<div class="cd-container">
					лиця і звання
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer th:replace="head :: pageFooter"/>
	<div th:replace="head :: docFooter"/>
	<th:block th:replace="head :: pageFooterScript" />

</body>
</html>