<!DOCTYPE html>
<html>
<body>

	<li th:fragment="bc-homepage">
		<a href="/">Стартова сторінка</a>
		<!-- 
		<a href="/">Хмельницька обласна лікарня</a>
		 -->
	</li>

	<ol class="breadcrumb hidden-print" id="bc-sm" th:fragment="breadcrumbAjs">
		<li th:replace="navbar :: bc-homepage" />
		<li><a th:href="@{/hol2/vid}">Відділення</a></li>
		<li class="active" data-ng-show="departmentName"><a
			href="/hol2/v.{{departmentName}}">{{department.name}}</a></li>
		<li data-ng-repeat="o2 in department.orders2"
		data-ng-show="o2.o2url == orders2"
		>{{o2.name}}</li>
	</ol>

	<ol class="breadcrumb hidden-print" id="bc-sm" th:fragment="breadcrumbSpk">
		<li th:replace="navbar :: bc-homepage" />
		<li><a th:href="@{/hol2/spivrobitnik}">Співробітники</a></li>
		<th:block th:if="${personalUrl}">
			<li><a th:href="@{/hol2/spivrobitnik}">Персональна сторінка 
{{spkPersonal.personal_surname}}
{{spkPersonal.personal_name}}
{{spkPersonal.personal_patronymic}}
			</a></li>
		</th:block>
	</ol>

	<ol class="breadcrumb hidden-print" id="bc-sm" th:fragment="breadcrumb">
		<li th:replace="navbar :: bc-homepage" />
		<li><a th:href="@{/hol2/vid}">Відділення</a></li>
		<th:block th:if="${departmentName}">
			<li class="active"><a th:href="@{'/hol2/v.'+${departmentName}}"
				th:text="${department.name}"></a></li>
			<th:block th:if="${seek != null}">
				<li class="active">Пошук</li>
			</th:block>
			<th:block th:if="${department['orders2'] != null}">
				<th:block th:each="o2 : ${department.orders2}"
					th:if="${orders2 == o2.o2url}">
					<li class="active" th:text="${o2.name}"></li>
				</th:block>
			</th:block>
		</th:block>
	</ol>

	<div class="container" th:fragment="holHead">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<table>
					<tr>
						<td style="padding-right: 22px;"><a href="/"> <img
								src="/img/hol-kh-95.jpg" /></a></td>
						<td><h2>
								<a href="/"> Хмельницька обласна лікарня </a>
							</h2>
							<p>вул. Пілотская 1, 29010 м.Хмельницкий, Хмельницька обл.</p>
							<small class="pull-right font075"><i>Ми робим медицину</i></small>
							</td>
						<td class="hidden-print"><a href="/"> <img
								src="/img/hol-bg-95.jpg" /></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="container" th:fragment="departmentHead2">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<small class="font075"> Відділення </small>
				<!-- 
				<small class="font050"> Відділення </small>
				<small data-ng-class="{'font050': departmentName != 'abdominal'}">
					Відділення </small>
					 -->
				<div
					data-ng-class="{'h2': departmentName == 'abdominal', 'h1':departmentName != 'abdominal'}">{{department.name}}</div>
			</div>
		</div>
	</div>

	<div class="bs-docs-header head-img head-img-vid" th:fragment="departmentHead">
		<div class="container">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<small class="font050"> Відділення Хмельницької обласної
					лікарні: </small>
				<div
					data-ng-class="{'h4': departmentName == 'abdominal', 'h1':departmentName != 'abdominal'}">{{department.name}}</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default" id="nav" th:fragment="topNavBarAjs">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> <img src="/img/hol-kh-3.png"
					id="hol-menu-icons" />
				</a>
			</div>

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul data-ng-show="department.orders2" class="nav navbar-nav">
					<li data-ng-repeat="o2 in department.orders2"><a
						href="/hol2/v.{{departmentName}}/{{o2.o2url}}">{{o2.name}}</a></li>
				</ul>
				<th:block th:if="${seek == null}">
					<th:block th:replace="navbar :: seekForm" />
				</th:block>
			</div>
		</div>
	</nav>

	<div class="navbar-header" th:fragment="iconsLinkHome">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/"> <img src="/img/hol-kh-3.png"
				id="hol-menu-icons" />
			</a>
		</div>
	</div>

	<nav class="navbar navbar-default" th:fragment="homeNavBar">
		<div class="container-fluid">
			<div th:replace="navbar :: iconsLinkHome" />
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/hol2/about">Про лікарню</a></li>
					<li><a href="/hol2/vid">Відділення</a></li>
					<li><a href="/hol2/spivrobitnik">Співробітники</a></li>
					<li><a href="/hol2/lklife">Життя лікарні</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search"
					th:action="'/hol2/seek'">
					<th:block th:replace="navbar :: seekFormBody" />
				</form>
			</div>
		</div>
	</nav>

	<nav class="navbar navbar-default" id="nav" th:fragment="topNavBar">
		<div class="container-fluid">
			<div th:replace="navbar :: iconsLinkHome"/>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<th:block th:if="${department !=null}">
					<ul th:if="${department['orders2'] != null}" class="nav navbar-nav">
						<li th:each="o2,o2row : ${department.orders2}"><a
							th:href="'/hol2/v.'+${departmentName}+'/'+${o2.o2url}"
							th:text="${o2.name}" th:class="${o2['state'] != null} ? o2.state"></a></li>
					</ul>
				</th:block>
				<th:block th:if="${personalUrl}">
					<ul class="nav navbar-nav">
						<li><a
							href="/hol2/v.{{personalList.departmentsUrl[spkPersonal.department_name]}}/personal">
								Персонал відділення </a></li>
					</ul>
				</th:block>
				<th:block th:if="${departmentName == 'ait'}">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false">Ще
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Ще сторінка</a></li>
								<li><a href="#">І ще сторінка</a></li>
								<li><a href="#">Та інша сторінка</a></li>
								<li class="divider"></li>
								<li><a href="#">І ще маленька</a></li>
							</ul></li>
					</ul>

				</th:block>
				<th:block th:if="${seek == null}">
					<th:block th:replace="navbar :: seekForm" />
				</th:block>
			</div>

		</div>
	</nav>

	<th:block th:fragment="seekFormBody">
		<div class="form-group">
			<span data-ng-show="seek">Пошук</span> <input type="text" name="seek"
				data-ng-model="seek" class="form-control" placeholder="Пошук" />
		</div>
		<button type="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
	</th:block>

	<th:block th:fragment="seekForm">
		<form class="navbar-form navbar-right" role="search"
			th:action="'/hol2/v.'+${departmentName}+'/seek'">
			<th:block th:replace="navbar :: seekFormBody" />
		</form>
	</th:block>

</body>
</html>
