<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="seekInAllController">
<head>
<div th:replace="head :: metaLink" />
<link href="/css/holhome.css" rel="stylesheet" />
<link href="/css/cyborg.css" rel="stylesheet" />
<title>Хмельницька обласна лікарня</title>
</head>
<body>
	<div th:replace="navbar :: holHead" />
	<nav th:replace="navbar :: homeNavBar" />
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<th:block th:if="${seek != null}">
					<form th:replace="navbar :: seekInAll"></form>
				</th:block>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<nav th:fragment="navPanelDepartment"
					class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top well">
					<ul class="nav bs-docs-sidenav">
						<li data-ng-repeat="vid in vids.departments | filter: seek"
							data-ng-init="department = vid.model; pageUrl = 'v.'+vid.vUrl; vidId = '#page_'+pageUrl; vidName = vid.name">
							<a href="{{vidId}}"> {{ vidName }} </a>
						</li>
					</ul>
					<a class="back-to-top" href="#top"> Догори <span
						class="glyphicon glyphicon-chevron-up"></span>
					</a>
				</nav>
			</div>
			<div class="col-md-9" data-ng-if="seek == null || !(seek.length > 1)">Тут буде пошук</div>
			<div class="col-md-9" data-ng-if="seek != '' ? seek.length > 1 : false">
				<div data-ng-repeat="vid in vids.departments | filter: seek"
					data-ng-init="department = vid.model; departmentName = vid.vUrl; pageUrl = 'v.'+vid.vUrl; vidName = vid.name">
					<hr data-ng-show="$first" />
					<h4 id="page_{{ pageUrl }}">
						<span th:fragment="seek-department-breadcrumb"> 
						<span data-ng-show="vidName">
								<a href="/hol2/vid">Відділення лікарні</a> /
						</span> <a href="/hol2/{{ pageUrl }}"> {{ vidName }} </a>
						</span>
					</h4>

					<th:block th:replace="seekInDepartment :: seekInDepartment" />
				</div>
				<div data-ng-repeat="giKey in generalInfoKeys"
					data-ng-init="pageDoc = generalInfo[giKey]"
				>
					<table data-ng-if="giKey == 'telefon'" class="table">
						<tr
							data-ng-repeat-start="building in pageDoc.buildings | filter: seek">
						</tr>
						<tr data-ng-repeat-end=""
							data-ng-repeat="telefon in building.telefonListe | filter: seek">
							<th>{{building.building}}</th>
							<td>{{telefon.position}}</td>
							<td>{{telefon.telefonInner}}</td>
							<td>{{telefon.telefonStationary}}</td>
							<td></td>
						</tr>
					</table>
					<div data-ng-if="generalInfo[giKey]['docBlock']">
						<div data-ng-repeat="s2 in pageDoc.docBlock | filter: seek"
							data-ng-init="pageUrl = pageDoc.pageUrl; pageName = pageDoc.pageName">
							<hr data-ng-show="$first" />
							<h4 data-ng-show="$first">
								<span th:fragment="seek-s2DocAndh2link"> <a
									href="/hol2/{{ pageUrl }}"> {{pageName}} </a> <span
									th:fragment="seek-s2h2link"> § <span class="h4" id="{{pageUrl}}-{{s2.sectionIdx}}">
											<a href="/hol2/{{pageUrl}}#{{s2.sectionIdx}}" target="_blank">
												{{s2.h2}} </a>
									</span>
								</span>
								</span>
							</h4>

							<div th:fragment="seek-s2Innerlinks"
								data-ng-repeat="s3 in s2.docBlock | filter: seek ">
								<div data-ng-show="s3.h3">

									<div data-ng-repeat="s4 in s3.docBlock | filter: seek ">
										<div data-ng-show="s4.p" data-ng-init="modelElement = s4">
											<th:block th:replace="seekInAll :: link2findElement" />
										</div>
									</div>
								</div>
								<div data-ng-show="s3.p" data-ng-init="modelElement = s3">
									<th:block th:fragment="link2findElement">
										<span th:replace="seekInAll :: seek-department-breadcrumb" />
										<span th:replace="seekInAll :: seek-s2DocAndh2link" /> / <span
											class="h5"> <a
											href="/hol2/{{pageUrl}}#{{s3.sectionIdx}}" target="_blank">{{s3.h3}}
										</a>
										</span>
										<a href="/hol2/{{pageUrl}}#{{modelElement.pIdx}}"
											target="_blank"><span class="glyphicon glyphicon-link"></span>
											Посилання </a>
										<p data-ng-bind-html="modelElement.p"></p>
										<hr />
									</th:block>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="head :: pageFooter"/>
	<div th:replace="head :: docFooter"/>
	<th:block th:replace="head :: pageFooterScript" />
	
</body>
</html>
