<!DOCTYPE html>
<html ng-app="holweb2secApp" ng-controller="personalController">
<head>
<div th:replace="head :: metaLink" />

<title>ХОЛ / {{spkPersonal.personal_username}}</title>
</head>
<body>

	<div th:replace="navbar :: holHead" />

	<nav th:replace="navbar :: topNavBar" />
	<ol th:replace="navbar :: breadcrumbSpk" />

	<div class="container">
		<div th:replace="head :: showPersonal" />
	</div>

	<input type="hidden" th:value="${personalUrl}" id="personalUrl" />

	<script src="/js-vendor/jquery-2.1.1.min.js"></script>
	<script src="/js-vendor/bootstrap.min.js"></script>
	<script src="/js-vendor/angular.min.js"></script>
	<script src="/js-vendor/angular-sanitize.min.js"></script>
	<script src="/js-vendor/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js-vendor/textAngular-sanitize.min.js'></script>
	<script src='/js-vendor/textAngular.min.js'></script>
	<script src="/js/personal.controller.js"></script>
	<script src="/js/scrollspy.js"></script>

</body>
</html>